# visual studio code
.vscode/

build*

# python
venv/
virtualenv/
__pycache__/
.pytest_cache/
.mypy_cache/
dist/
*.egg-info/
docs/build_*
*travis.yml

# misc
.DS_Store

build/lib/uc2rest/modules.py

conda-out/*
